<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
{% extends 'Doctor/home.html' %}

{% block body %}
<form id="form1" name="form1" method="post" action="">
{% csrf_token %}
  <table class="table table-bordered" style="width: 700px;">
    <tr>
      <td><label for="textfield"></label>
      <input type="text" class="form-control"required name="textfield" id="textfield" /></td>
      <td><input type="submit" class=" btn btn-success" name="button" id="button" value="Search" /></td>
    </tr>
  </table>
  <table class="table table-bordered" style="width: 700px;">
    <tr>
      <th>S/No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Contact</th>
      <th>Address</th>
      <th>Photo</th>
      <th>Qualification</th>
      <th>Specialization</th>
      <th>Status</th>
      <th>Experience</th>
      <td colspan="2">Action</td>
    </tr>
    <tr>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" /></td>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" /></td>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" /></td>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" /></td>
      <td><label for="textfield10"></label>
      <input type="text" name="textfield10" id="textfield10" /></td>
      <td><label for="textfield11"></label>
      <input type="text" name="textfield11" id="textfield11" /></td>
      <td><a href="#">Edit</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
  </table>
</form>
{% endblock %}
</body>
</html>
