<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" enctype="multipart/form-data" action="/my_project/doc_registration_post/">
    {% csrf_token %}
  <table  border="1">
    <tr>
      <th>Name</th>
      <td><label for="textfield"></label>
      <input type="text" class="form-control" name="textfield" id="textfield" required /></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />
          Female</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Other" id="RadioGroup1_2" />
          Other</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <th>DOB</th>
      <td><label for="textfield2"></label>
      <input type="date" name="textfield2" class="form-control" required id="textfield2" /></td>
    </tr>
    <tr>
      <th>Place</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" class="form-control" required id="textfield3" /></td>
    </tr>
<tr>
      <th>Photo</th>
      <td><label for="textfield9"></label>
      <input type="file" name="textfield19" class="form-control" required id="textfield19" /></td>
    </tr>
      <tr>
      <th>Post</th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" class="form-control" required id="textfield4" /></td>
    </tr>
    <tr>
      <th>Country</th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" class="form-control" required id="textfield5" /></td>
    </tr>
    <tr>
      <th>Phone</th>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" class="form-control" required id="textfield6" /></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><label for="textfield7"></label>
      <input type="text" name="textfield7" class="form-control" required id="textfield7" /></td>
    </tr>
    <tr>
      <th>Qualification</th>
      <td><label for="textfield8"></label>
      <input type="text" name="textfield8" class="form-control" required id="textfield8" /></td>
    </tr>
    <tr>
      <th>Specialization</th>
      <td><label for="textfield9"></label>
      <input type="text" name="textfield9" class="form-control" required id="textfield9" /></td>
    </tr>
      <tr>
      <th>Experience</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield13" class="form-control" required id="textfield3" /></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><label for="textfield10"></label>
      <input type="text" name="textfield10" class="form-control" required id="textfield10" /></td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td><label for="textfield11"></label>
      <input type="text" name="textfield11" class="form-control" required id="textfield11" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" class="btn btn-info" name="button" id="button" value="Add" /></td>
    </tr>
  </table>
</form>
</body>
</html>
